CMD ["uwsgi", "--ini", "/uwsgi.ini"]

CMD [ "uwsgi", "--socket", "0.0.0.0:3031", \
               "--uid", "uwsgi", \
               "--plugins", "python3", \
               "--protocol", "uwsgi", \
               "--wsgi", "main:application" ]
               
RUN addgroup nginx && adduser --no-create-home --disabled-password -G nginx nginx && mkdir /app

